/* FONTS */
$font-title: 'Fredoka', sans-serif;
$font-subtitle: 'Indie Flower', cursive;
$font-main: 'Gloria Hallelujah', cursive;
$font-button: 'Permanent Marker', cursive;


/* COLORS */
$color-bg-beige: #fff9eb;
$color-bg-input: #ffeec5;
$color-subBg-cream:#fffcf3;
$color-brown:#49232e;
$color-yellow:#ffb641;
$color-orange:#f58338;
$color-blue:#5498df;
$color-sky: rgba(135, 206, 235, 0.7);
$color-pink: #fb738c;
$color-light-pink: #f7b5c7;


