/* FONTS */
$font-title: 'Baloo 2', cursive;
$font-subtitle: 'Nunito', sans-serif;
$font-main: 'Poppins', sans-serif;

/* COLORS */
$color-bg-beige: #fff9eb;
$color-subBg-cream:#fffcf3;
$color-brown:#49232e;
$color-yellow:#ffb641;
$color-orange:#f58338;
$color-blue:#5498df;


