@use 'core/reset';
@use "core/variables" as vars;
@use "core/mixins" as mixins;

@keyframes twinkle {
    0% {
        filter: brightness(1) drop-shadow(0 0 0px vars.$color-yellow);
        transform: scale(1) rotate(0deg);
    }

    50% {
        filter: brightness(1.1) drop-shadow(0 0 16px vars.$color-yellow);
        transform: scale(1.1) rotate(3deg);
    }

    100% {
        filter: brightness(1) drop-shadow(0 0 0px vars.$color-yellow);
        transform: scale(1) rotate(0deg);
    }
}

.current-tasks {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    margin: 0 20px 24px 20px;
    padding: 0 24px;
    background: vars.$color-light-pink;
    border-radius: 18px;
    font-family: vars.$font-main;
    font-size: 1.15rem;
    font-weight: 700;
    color: vars.$color-brown;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);

    &__icon {
        font-size: 2rem;
        color: vars.$color-pink;
        margin-right: 8px;
    }

    &__count {
        color: vars.$color-pink;
        font-size: 1.8rem;
        font-family: vars.$font-title;
        font-weight: 900;
        margin: 0 4px;
    }
}

.container {
    width: 100%;
    main-height: 100dvh;
    background-image: url("../assets/starsBackground.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    ;
    flex-direction: column;

    &__star {
        position: absolute;
        width: 50vw;
        max-width: 300px;
        height: auto;
        top: 1%;
        left: 50%;
        animation: twinkle 2s alternate;
    }
}

.header {
    width: 100%;
    color: vars.$color-brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0 20px 0;

    &__title-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        font-family: vars.$font-title;
        font-size: 75px;
        font-weight: 1000;
    }

    &__title {
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: left;
        line-height: 1;
    }
}


.add-container {
    @include mixins.container-box(vars.$color-yellow, vars.$color-brown);
}

.add-form {
    @include mixins.form-style(vars.$color-orange, vars.$color-bg-input, vars.$color-orange, vars.$color-bg-beige);
}

.tasks-container {
    @include mixins.container-box(vars.$color-sky, vars.$color-brown);
    gap: 15px;
}

.search-form {
    @include mixins.form-style(vars.$color-blue, vars.$color-bg-input, vars.$color-blue, vars.$color-bg-beige);
}

.list {
    @include mixins.container-box(vars.$color-subBg-cream, vars.$color-brown);
    border-radius: 30% 2% 30% 2% / 10% 50% 10% 50%;
    border: 3px solid vars.$color-brown;
    ;
    width: 100%;
    max-width: 900px;
    align-items: flex-start;
    color: vars.$color-brown;
    font-family: vars.$font-main;
    font-size: 20px;
    list-style: none;
    padding: 20px;
    margin: 0px;
    box-sizing: border-box;

    &__task input[type="checkbox"] {
        appearance: none;
        width: 30px;
        height: 30px;
        border: 3px solid vars.$color-brown;
        border-radius: 50% 20% 50% 20% / 10% 50% 10% 50%;
        background: vars.$color-bg-beige;
        cursor: pointer;
        position: relative;
        vertical-align: middle;
        transition: border-color 0.2s;
    }

    &__task input[type="checkbox"]:checked {
        background: vars.$color-yellow;
        border-color: vars.$color-brown;
    }

    &__task input[type="checkbox"]:checked::after {
        content: '✔'; // '✓'
        position: absolute;
        left: 4px;
        top: -12px;
        font-size: 33px;
        color: vars.$color-brown;
        pointer-events: none;
    }

    &__task .fa-solid {
        cursor: pointer;
        color: vars.$color-brown;
        margin-right: 1rem;
        transition: color 0.2s ease;

        &:hover {
            color: vars.$color-orange;
            scale: 1.2;
        }
    }
}

.crossed-out-task {
    text-decoration: line-through;
    opacity: 0.6;
    color: vars.$color-brown;
    transition: opacity 0.2s;
}

.footer {
    margin-top: auto;
    text-align: center;
    padding: 1rem;
    font-family: vars.$font-main;
    font-size: 13px;

    &__link {
        color: vars.$color-brown;
        text-decoration: underline;
    }

    ;
}